<br />

<form method="post">
  <label>Name:<input name="name" value="" /></label><br />

  <label>Ocupation:<input name="occupation" /></label><br />

  <label>Debt:<input name="debt" type="checkbox" /></label><br />

  <label>Weapon:<input name="weapon" /></label><br />

  <button type="submit">Create a Character</button>
</form>
