<form method="post">
    
    <label>Name:<input name="name" value="<%-character.name%>" /></label><br />
  
    <label>Ocupation:<input name="occupation" value="<%-character.occupation%>" /></label><br />
  
    <label>Debt:<input name="debt" type="checkbox" value="<%-character.debt%>"/></label><br />
  
    <label>Weapon:<input name="weapon" value="<%-character.weapon%>"/></label><br />
  
    <button type="submit">Edit a Character</button>
  </form>